<table id="tblTranCustomerConsign" class="width-100-percent">
    <thead>
        <tr class="row voucher-table-header">
            <td class="col-md-6 col-lg-6 align-left">@Resource.Product</td>
            <td class="col-md-6 col-lg-6 align-right">@Resource.Qty</td>           
        </tr>
    </thead>
    <tbody></tbody>
</table>



