@using Inventory.ViewModels
@model PurchaseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuPurchaseGp {
            display: block;
        }
    </style>
</head>

<script type="text/javascript">

    document.getElementById('subMenuPurchase').className = 'active';

</script>
<div>
    <div class="row setup-title-layout">
        <div class="col-md-6 col-lg-6">
            <label class="page-title">@Resource.PurchaseList</label>
        </div>
        <div class="col-md-6 col-lg-6">
            <button id="btnAdd" class="btn btn-primary" style="float:right">ADD</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var userId = 0, userName;
    userId = localStorage.getItem("UserID");
    userName = localStorage.getItem("UserName");
    $(function () {
        $('#btnAdd').click(function () {
            window.location.href = '@Url.Action("Purchase", "Purchase")?userId=' + userId;
        });
    })
</script>


