<div class="modal fade" id="modalSaleReturnDetail" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="width-100-percent light-background">
                    <tr>
                        <td class="padding-5"><label class="control-label mb-0">Voucher No.</label></td>
                        <td class="aligh-right padding-5"><label id="lblUserVoucherNo" class="control-input mb-0"></label></td>
                        <td class="padding-5"><label class="control-label mb-0">VoucherID</label></td>
                        <td class="aligh-right padding-5"><label id="lblVoucherID" class="control-input mb-0"></label></td>
                    </tr>
                    <tr>
                        <td class="padding-5"><label class="control-label mb-0">Location</label></td>
                        <td class="aligh-right padding-5"><label id="lblLocation" class="control-input mb-0"></label></td>
                        <td class="padding-5"><label class="control-label mb-0">Date Time</label></td>
                        <td class="aligh-right padding-5"><label id="lblSaleReturnDateTime" class="control-input mb-0"></label></td>
                    </tr>
                    <tr>
                        <td class="padding-5"><label class="control-label mb-0">User Name</label></td>
                        <td class="aligh-right padding-5"><label id="lblUserName" class="control-input mb-0"></label></td>
                    </tr>
                </table>

                @{
                    Html.RenderPartial("_SaleReturnDetailChild");
                }

                <br />
                <div class="col-md-12 col-lg-12">
                    <div id="remark" class="light-background padding-5" style="text-align:center; display:none">
                        <label id="lblRemark" class="control-label mb-0"></label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function createTranSaleReturnDetail(response) {
        $('#tblTranSaleReturn').find("tbody").empty();
        $.each(response.LstTranSaleReturn, function (index, item) {
            let row = '<tr class="row voucher-table-item">'
            if (item.IsFOC == true) row += '<td class="col-md-4 col-lg-4 text-overflow">' + item.ProductName + '(FOC)' + '</td>'
            else row += '<td class="col-md-4 col-lg-4 text-overflow">' + item.ProductName + '</td>'
            row += '<td class="col-md-2 col-lg-2">' + item.Quantity + '<span class="control-span-sm">' + item.UnitKeyword + '</span></td>'
               + '<td class="col-md-2 col-lg-2">' + separatedComma(item.SalePrice) + '<span class="control-span-sm">' + item.CurrencyKeyword + '</span></td>'
                + '<td class="col-md-2 col-lg-2">' + separatedComma(item.Discount) + '</td>'
               + '<td class="col-md-2 col-lg-2 aligh-right">' + separatedComma(item.Amount) + '</td>'
               + "</tr>";
            $('#tblTranSaleReturn tbody').append(row);
        });
    }

    function createMasterSaleReturnDetail(response) {
        $('#lblUserVoucherNo').text(response.UserVoucherNo);
        $('#lblLocation').text(response.LocationName);
        if (response.VoucherID.length != 0) $('#lblVoucherID').text(response.VoucherID);
        else $('#lblVoucherID').text('-');
        $('#lblSaleReturnDateTime').text(response.ReturnDateTime);
        $('#lblUserName').text(response.User);
        $('#lblTotal').text(separatedComma(response.Total));
        if (response.Remark.length == 0) $('#remark').hide();
        else {
            $('#remark').show();
            $('#lblRemark').text(response.Remark);
        }
    }

</script>