<table id="tblTranAdjustment" class="width-100-percent">
    <thead>
        <tr class="row voucher-table-header">
            <td class="col-md-4 col-lg-4">@Resource.Product</td>
            <td class="col-md-4 col-lg-4">@Resource.Qty</td>
            <td class="col-md-4 col-lg-4 aligh-right">Adjust Type</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>


