<div class="modal fade" id="modalPurchaseReturnDetail" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="width-100-percent light-background">
                    <tr>
                        <td class="padding-5"><label class="control-label mb-0">Voucher No.</label></td>
                        <td class="aligh-right padding-5"><label id="lblUserVoucherNo" class="control-input mb-0"></label></td>
                        <td class="padding-5"><label class="control-label mb-0">VoucherID</label></td>
                        <td class="aligh-right padding-5"><label id="lblVoucherID" class="control-input mb-0"></label></td>
                    </tr>
                    <tr>
                        <td class="padding-5"><label class="control-label mb-0">Date</label></td>
                        <td class="aligh-right padding-5"><label id="lblPurchaseReturnDateTime" class="control-input mb-0"></label></td>
                        <td class="padding-5"><label class="control-label mb-0">Return Voucher</label></td>
                        <td class="aligh-right padding-5"><label id="lblReturnVoucherNo" class="control-input mb-0"></label></td>
                    </tr>
                    <tr>
                        <td class="padding-5"><label class="control-label mb-0">User</label></td>
                        <td class="aligh-right padding-5"><label id="lblUserName" class="control-input mb-0"></label></td>
                        <td class="padding-5"><label class="control-label mb-0">Location</label></td>
                        <td class="aligh-right padding-5"><label id="lblLocation" class="control-input mb-0"></label></td>
                    </tr>
                                       
                </table>

                @{
                    Html.RenderPartial("_PurchaseReturnDetailChild");
                }
                <table class="width-100-percent voucher-divider">
                    <tr>
                        <td><label class="voucher-sub-footer">@Resource.Total@Resource.ColonSign</label></td>
                        <td class="aligh-right"><label id="lblTotal" class="voucher-sub-footer"></label></td>
                    </tr>
                </table>

                <div id="divRemark" class="light-background padding-5" style="text-align:center;">
                    <label id="lblRemark" class="control-label mb-0"></label>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function createTranPurchaseReturnDetail(response) {
        $("#tblTranPurchaseReturn").find("tbody").empty();
        $.each(response.LstTranPurchaseReturn, function (index, item) {
            let row = '<tr class="row voucher-table-item">'
            if (item.IsFOC == true) row += '<td class="col-md-4 col-lg-4 text-overflow">' + item.ProductName + '(FOC)' + '</td>'
            else row += '<td class="col-md-4 col-lg-4 text-overflow">' + item.ProductName + '</td>'
            row += '<td class="col-md-2 col-lg-2">' + item.Quantity + '<span class="control-span-sm">' + item.UnitKeyword + '</span></td>'
               + '<td class="col-md-2 col-lg-2">' + separatedComma(item.PurchasePrice) + '<span class="control-span-sm">' + item.CurrencyKeyword + '</span></td>'
               + '<td class="col-md-2 col-lg-2">' + separatedComma(item.Discount) + '</td>'
               + '<td class="col-md-2 col-lg-2 aligh-right">' + separatedComma(item.Amount) + '</td>'
               + "</tr>";
            $('#tblTranPurchaseReturn tbody').append(row);
        });
    }

    function createMasterPurchaseReturnDetail(response) {
        $('#lblUserVoucherNo').text(response.UserVoucherNo);
        if (response.VoucherID.length != 0) $('#lblVoucherID').text(response.VoucherID);
        else $('#lblVoucherID').text('-');
        $('#lblPurchaseReturnDateTime').text(response.ReturnDateTime);
        if (response.ReturnVoucherNo.length != 0) $('#lblReturnVoucherNo').text(response.ReturnVoucherNo);
        else $('#lblReturnVoucherNo').text('-');
        $('#lblUserName').text(response.UserName);
        if (response.LocationName.length != 0) $('#lblLocation').text(response.LocationName);
        else $('#lblLocation').text('-');
        $('#lblTotal').text(separatedComma(response.Total));                

        if (response.Remark.length != 0) {
            $('#lblRemark').text(response.Remark);
            $('#divRemark').show();
        } else $('#divRemark').css('display', 'none');
    }

</script>




