
<div id="divDateFilter">
    <div class="row">
        <div class="col-md-1 col-md-1" style="padding-top:10px;">
            <label class="control-label aligh-right">From Date :</label>
        </div>
        <div class="col-md-4 col-lg-4">
            <input id="inputFromDate" type="date" class="form-control control-input" />
        </div>
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-1 col-lg-1" style="padding-top:10px;">
            <label class="control-label aligh-right">To Date :</label>
        </div>
        <div class="col-md-4 col-lg-4" style="padding-right:20px;">
            <input id="inputToDate" type="date" class="form-control control-input" />
        </div>      
        
    </div>
</div>