<div class="row setup-title-layout m-t-10">
    <div class="col-md-1 col-lg-1">
        <input type="radio" id="rdoNew" name="rdoLogType" value="1" checked /><label for="rdoNew" style="padding-left:5px;">@Resource.New</label>
    </div>
    <div class="col-md-1 col-lg-1">
        <input type="radio" id="rdoEdit" name="rdoLogType" value="2" /><label for="rdoEdit" style="padding-left:5px;">@Resource.Edit</label>
    </div>
    <div class="col-md-1 col-lg-1">
        <input type="radio" id="rdoDelete" name="rdoLogType" value="3" /><label for="rdoDelete" style="padding-left:5px;">@Resource.Delete</label>
    </div>
</div>

