<div class="row setup-title-layout m-t-10">
    <div class="col-md-1 col-lg-1">
        <input type="radio" id="rdoAll" name="rdoPayType" value="1" checked /><label for="rdoAll" style="padding-left:5px;">@Resource.All</label>
    </div>
    <div class="col-md-1 col-lg-1">
        <input type="radio" id="rdoCash" name="rdoPayType" value="2" /><label for="rdoCash" style="padding-left:5px;">@Resource.Cash</label>
    </div>
    <div class="col-md-1 col-lg-1">
        <input type="radio" id="rdoCredit" name="rdoPayType" value="3" /><label for="rdoCredit" style="padding-left:5px;">@Resource.Credit</label>
    </div>
</div>

