<div class="modal fade" id="modalRemark" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRemarkTitle">Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label id="lblRemark" class="control-label mb-0">Label</label>
                    <textarea id="txtRemarkNote" class="form-control control-input"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnRemarkCancel" class="btn btn-white-outline-third" data-dismiss="modal" aria-label="Close">@Resource.Close</button>
                <button id="btnRemarkOk" class="btn btn-first">@Resource.Submit</button>
                <button id="btnRemarkEdit" class="btn btn-first" style="display:none">@Resource.Submit</button>

            </div>
        </div>
    </div>
</div>

