@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h4 class="text-danger">Something Wrong.</h4>
<h5 class="text-danger">An issue occurred while processing your request. Please Logout and Login to try again.</h5>

