<table id="tblTranTransfer" class="width-100-percent">
    <thead>
        <tr class="row voucher-table-header">
            <td class="col-md-6 col-lg-6">@Resource.Product</td>
            <td class="col-md-6 col-lg-6 aligh-right">@Resource.Qty</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>



