/** main color code */
/*
first color:#27ae61   green
second color:#36b4e5  blue
third color:#ef7971   red
accent color:#e5e53e  yellow
gray color:#DEE2E6
soft gray color:#edeff1
light color:#ecedef
*/
/** end color code */



/** ajax call loading */
.loading-div {width: 100vw;height: 100vh;background: rgba(255, 255, 255, 0.5);z-index: 9999;
    position: fixed;top: 0;left: 0;bottom: 0;overflow: hidden;}
.loading-icon {position: absolute;top: 50%;left: 50%;margin: -50px 0px 0px -50px;}
/** end ajax call loading */



/** paging */
div.paging{background-color:#d8dee3;border-top:1px solid #e9ecef;padding:2px;align-items:center;}
.page-num{font-size:12px;color:#000;margin-bottom:0;background-color:#ffffcc;border-radius:5px;padding:5px;}
div.paging-item{display:flex;justify-content:right;color:transparent;font-size:0;}
.btn-paging{font-size:12px;background-color:#eee;color:#27ae61;padding:5px 10px;margin:2px;border:1px solid #27ae61;font-family:'Rubik',sans-serif;}
.btn-paging:hover{background-color:#27ae61;color:#fff;}
/** end paging */



/** buttons */
.btn-first{color:#ffffff;background-color:#27ae61;font-size:13px;}
.btn-first:hover{color:#ffffff;background-color:#1a924e;}
.btn-second{color:#ffffff;background-color:#36b4e5;font-size:13px;}
.btn-second:hover{color:#ffffff;background-color:#2895bf;}
.btn-third{color:#ffffff;background-color:#ef7971;font-size:13px;}
.btn-third:hover{color:#ffffff;background-color:#c72f25;}
.btn-light{color:#425367;background-color:#ECEDEF;border:1px solid #ccc;font-size:small}
.btn-light:hover{background-color:#F8FBFF;}
.btn-gray{color:#425367;background-color:#DEE2E6;font-size:13px;}
.btn-gray:hover{background-color:#C6CACE;}
.btn-white-outline-third{color:#3E445C;background-color:#fff;border:1px solid #ef7971;font-size:13px;}
.btn-white-outline-third:hover{color:#fff;background-color:#f7685f;}
.btn-dialog-ok{background-color:#1a924e;color:#fff;font-size:13px;}
.btn-dialog-ok:hover{background-color:#27ae61;color:#fff;}
.btn-dialog-cancel{background-color:#DEE2E6;color:#444c57;font-size:13px;}
.btn-dialog-cancel:hover{background-color:#C6CACE;}
.btn-list-action{font-size: 10px;font-family: 'Rubik',sans-serif;}
.btn-icon{border:none;background-color:transparent;cursor:pointer;}
.btn-icon.gray{color:#666;}
.btn-icon.gray:hover{color:#999;}
.plr-30{padding-left:30px;padding-right:30px;}
/** end buttons */



/** general */
.control-title {color:#36b4e5;font-size:15px;font-family: 'Rubik',sans-serif;}
.control-label {color:#333;font-size:13px;font-family: 'Rubik',sans-serif;}
.control-input{font-size:13px;color:#000;font-family: 'Rubik',sans-serif;}
.control-span-sm {color:#666;font-size:11px;font-family: 'Rubik',sans-serif;}
.textarea-height{height:125px;}
.table-nodata{font-size:0.9em;color:#425367;padding:5px;}
.clear-icon{color:#328ED9;}
.margin-5 {margin: 5px;}
.margin-20 {margin: 20px;}
.padding-20 {padding: 20px;}
.padding-10 {padding: 10px;}
.padding-5 {padding: 5px;}
.ml-10 {margin-left: 10px;}
.content-bg{border-top:3px solid #36b4e5;border-radius:2px;}
.height-30 {height:30px;}
.width-200{width:200px;}
.width-100-percent{width:100%;}
.table-header{color:#000;background-color:#fcfeff;border-bottom:1px solid #F3F3F3;padding:10px 5px;
     font-size:13px;font-family:'Rubik',sans-serif;}
.table-item{color:#000;background-color:#ffffff;border-bottom:1px solid #F3F3F3;padding:5px;
     font-size:13px;font-family:'Rubik',sans-serif;}
.table-header-no-color{font-size:13px;color:#000;padding:5px;font-family:'Rubik',sans-serif;}
.table-item-no-color{font-size:13px;color:#000;padding:5px;font-family:'Rubik',sans-serif;}
.custom-textbox {display: block;width: 100%;padding: 0.375rem 0.75rem;font-size: 14px;line-height: 1.5;color: #000;background-color: #fff;
  background-clip: padding-box;border: 1px solid #cdd6df;border-radius: 0.20rem;transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family:'Rubik',sans-serif;}
.forword-icon{color:#444c57;}
.refresh-icon{color:#0FCA5B;}
.general-text-title {color:#000;font-size:13px;font-weight:bold;font-family:'Rubik',sans-serif;}
.important-text{color:#336699;}
.font-weight-500{font-weight:500;}
.font-weight-700{font-weight:700;}
.detail-modal-border{border:1px solid #57d5a6;}
.detail-modal-border-radius{border:1px solid #57d5a6;border-radius:3px;margin:10px;}
.search-div{background-color:aliceblue;}
.empty-div{background-color:#f8fbfd;height:100vh;}
.general-div{background-color:#f8fbfd;padding:10px;border-radius:5px;}
.border-bottom-white{margin:0;border-bottom:1px solid #ECEDEF;}
.mr-10{margin-right:10px;}
.toast-success {background-color:#81ed81;color:#333;}
.toast-error {background-color:#ff8e86;color:#333;}
.mb-0 {margin-bottom:0;}
.mr-0 {margin-right:0;}
.m-t-5{margin-top:5px;}
.m-b-5{margin-bottom:5px;}
div.note{background-color:#ffffcc;padding:5px;}
.note{background-color:#ffffcc;padding:5px 20px;}
.align-center{display:flex;align-items:center;}
.aligh-right{display:flex;justify-content:right;}
.align-justify-center{display:flex;align-items:center;justify-content:center;}
.table-border{border:1px solid #f4f6f8;}
.text-overflow{text-overflow:ellipsis;overflow:hidden;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
.tran-table-header-row{background-color:#DEE2E6;padding:2px 5px;position:sticky;top:0;z-index:999;border-bottom:1px solid #d7dadf;}
.tran-table-item-row{background-color:#fff;margin-bottom:1px;padding:2px 5px;}
.tran-table-item-row:hover{background-color:#ecedef;cursor:pointer;}
.div-return{border:1px solid #f3f3f3;background-color:#fff;}
.return-table-header-row{background-color:#27ae61;color:#fff;padding:5px;position:sticky;top:0;z-index:999;border-bottom:1px solid #d7dadf;}
.text-link{color:#0582b3;}
.text-link:hover{color:#36b4e5;cursor:pointer;}
button.discount{padding:5px 10px;background-color:#DEE2E6;font-size:13px;font-family: 'Rubik',sans-serif;color:#666;border:none;}
button.discount:hover{cursor:pointer;color:#27ae61;}
button.discount-active{padding:5px 10px;background-color:#27ae61;font-size:13px;font-family: 'Rubik',sans-serif;color:#fff;border:none;}
.soft-gray-background{background-color:#edeff1;}
.light-background{background-color:#ecedef;}
table tr td.text-overflow{text-overflow:ellipsis;overflow:hidden;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
div.tran-table{overflow-y:auto;overflow-x:hidden;}
table tr.selected{background-color:#e5e53e;}
.border-gray{border:1px solid #DEE2E6;}
.m-0{margin:0px;}
button:disabled{background-color:#edeff1;}
button:disabled:hover{background-color:#edeff1;cursor:default;color:#000;}
span{font-size:13px;}
.hideVerticalScrollbar{overflow-y: hidden!important;}
.first-text-color{color:#27ae61;}
/** end general */



/** amount and voucher */
table tr th.value-right{text-align:right;}
table tr td.value-right{text-align:right;padding-right:15px;}
.total-amount-label{color:#27ae61;font-size:16px;font-family: 'Rubik',sans-serif;}
.total-amount-value{font-size:16px;color:#27ae61;font-family: 'Rubik',sans-serif;}
.voucher-header-name{font-size:18px;color:#000;font-family:'Rubik',sans-serif;}
.voucher-header{font-size:15px;color:#000;font-family:'Rubik',sans-serif;}
.voucher-sub-header{font-size:13px;color:#000;font-family:'Rubik',sans-serif;}
.voucher-sub-footer{font-size:13px;color:#000;font-family:'Rubik',sans-serif;}
.voucher-table-header{color:#000;border-bottom:1px solid #F3F3F3;padding:5px;font-size:13px;font-family:'Rubik',sans-serif;}
.voucher-table-item{color:#000;padding:5px;font-size:13px;font-family:'Rubik',sans-serif;}
.voucher-divider{border-top:1px solid #F3F3F3;}
/** end amount and voucher */



/** setup */
.setup-entry-border{
    border:1px solid #f4f6f8;
    border-radius:3px;
}
.setup-entry-header{
    background-color:#f4f6f8;
    padding:10px;
}
.setup-entry-header-title{
    font-size:13px;
    color:#000;
    font-family:'Rubik',sans-serif;
}
.setup-title-layout{
    border-bottom:1px solid #f0f3f7;
    padding:5px 15px 5px 15px;
    align-items:center;
}
.setup-btn-save-edit{
    width:120px;font-size:medium;float:right;
}
.setup-search-label{
    float:left;color:#706e6e;
}
.setup-btn-search{
    width:50px;margin-left:10px;
}
.product-entry-title {color:#000;font-size:13px;font-weight:bold;font-family:'Rubik',sans-serif;}
.general-view-data-background1{
    background-color:#DEE2E6;
    color:#444c57;
}
.general-view-data-background2{
    background-color:#f0f8f4;
    color:#444c57;
}
/** end setup */



/** product menu */
div.mainmenu{background-color:#27ae61;overflow-x:auto;padding:5px;}
.menu-main{background-color:#27ae61;font-size:13px;color:#fff;border:1px solid #20f262;border-radius:5px;
              font-family:'Rubik',sans-serif;height:50px;width:150px;text-overflow:ellipsis;overflow:hidden;}
.menu-main:hover{background-color:#1a924e;cursor:pointer;color:#ecedef;}
div.submenu{background-color:#fff;overflow-y:auto;padding:5px;}
.menu-sub{color:#000;background-color:#fff;border:1px solid #DEE2E6;border-radius:3px;font-size:13px;
            width:100%;height:50px;font-family:'Rubik',sans-serif;text-overflow:ellipsis;overflow:hidden;}
.menu-sub:hover{background-color:#ecedef;color:#1a924e;cursor:pointer;}
div.product{background-color:#1a924e;overflow-y:auto;padding:5px;}
.menu-product{color:#1a924e;background-color:#fff;border:1px solid #27ae61;border-radius:3px;margin:2px;
            width:48%;height:50px;font-size:13px;font-family:'Rubik',sans-serif;text-overflow:ellipsis;overflow:hidden;float:left;}
.menu-product:hover{background-color:#ecedef;cursor:pointer;}
/** end product menu */



/** custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height:5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bababa; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8d8d; 
}
/** end custom scrollbar */



/** icons inside the input element */
.input-icons i {position: absolute;}
.input-icons {width: 100%;display:flex;align-items:center;}
.icon {padding: 10px;min-width: 40px;}
.input-field {width: 100%;padding: 10px;text-align:center;}
/** end icons inside the input element */



/** client sale order **/
.noHover{pointer-events: none;}
.white-color {color:white;}
label1 {display:block; text-align:right;margin-right:20px}
.button4 {background-color: #e7e7e7; color: #e26f6f;}
.txarea {width: 100%;padding: 12px;border: 1px solid #ccc;border-radius: 4px;
  box-sizing: border-box;margin-top: 6px;margin-bottom: 16px;resize: vertical;}
/** end client sale order **/



/** report **/
.rpt-main-group{
    background-color:#e1e1e1;
    padding: 5px;
    font-weight:bold;     
    color:#4884FF;   
    border-bottom:1px solid #f0f3f7;  
    font-size:13px;font-family: 'Rubik',sans-serif; 
}
.rpt-sub-group{
    background-color:#edecec;
    padding: 5px;
    font-weight:bold;    
    color:#6699FF;     
    border-bottom:1px solid #f0f3f7; 
    font-size:13px;font-family: 'Rubik',sans-serif;
}
.rpt-item{
    background-color:#fff;
    padding: 3px;      
    color:#333;     
    border-bottom:1px solid #f0f3f7; 
    font-size:13px;font-family: 'Rubik',sans-serif;
}
.rpt-sub-total{
    padding: 5px;
    background-color:#F3F3F3;    
    font-weight:bold;  
    color:#333;      
    border-bottom:1px solid #DEE2E6;
    font-size:13px;font-family: 'Rubik',sans-serif;
}  
.rpt-total{
    padding: 5px;
    background-color:#27ae61;    
    font-weight:bold;  
    color:#fff;      
    border-top:2px solid #DEE2E6;
    border-bottom:1px solid #DEE2E6;
    font-size:15px;font-family: 'Rubik',sans-serif;
} 
.rpt-divider{border-top:1px solid #DEE2E6;}   
/**end report **/



/** tab **/
.tab {
  overflow: hidden;
  border: 1px solid #edeff1;
  background-color: #f9f9f9;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #27ae61;
  color:#FFF;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}









